<div class="col-md-6">
  <div class="card">
    <div class="card-header bg-secondary text-light">
      <h5 class="card-title">Chat</h5>
    </div>
    <div class="card-body" style="height: calc(100vh - 80px); overflow-y: auto;">
      {{#if loading}}
        <p>Loading...</p>
      {{else if error}}
        <p>Error: {{errorMessage}}</p>
      {{else}}
        {{#if messages.length}}
          <ul class="list-group">
            {{#each messages}}
              <li class="list-group-item">{{text}}</li>
            {{/each}}
          </ul>
        {{else}}
          <p class="card-text">No messages available.</p>
        {{/if}}
      {{/if}}
    </div>
  </div>
</div>